extends layout
block content


  div
    ul(class="nav nav-tabs" role="tablist")
      li(role="presentation" class="active")
        a(href="#home" aria-controls="home" role="tab" data-toggle="tab") Cursos
      li(role="presentation")
        a(href="#profile" aria-controls="profile" role="tab" data-toggle="tab") Grupos
      li(role="presentation")
        a(href="#messages" aria-controls="messages" role="tab" data-toggle="tab") Asignaciones

    div(class="tab-content")
      div(role="tabpanel" class="tab-pane active" id="home") 
        h2 Cursos
          hr
          button(class="btn btn-primary" data-toggle="modal"  data-target="#myModal") Agregar
          table(class="table table-striped table-hover ")
            thead
              tr
                th Id
                th Nombre
            tbody(data-bind="foreach: curso")
              tr
                td(data-bind="text: idCurso")  
                td(data-bind="text: descripcion")

      div(class="modal fade" id="myModal" role="dialog")
          div(class="modal-dialog")
            div(class="modal-content")
              div(class="modal-header")
                button(type="button" class="close" data-dismiss="modal") &times;
                h4(class="modal-title") Agregar Curso
                form(id="mf" class="form-horizontal" data-bind="submit: agregarCurso")
                    div(class="form-group")
                      label(class="col-md-4 control-label" for="Descripcion") Descripcion
                      div(class="col-md-5")
                        input(id="Descripcion" name="descripcion" data-bind="value: cursoNuevo.descripcion" type="text" class="form-control input-md" required="")
                    div(class="form-group")
                      div(class="col-md-4")
                        button(id="Agregar" name="Agregar" type="btn btn-primary" class="btn btn-primary") Agregar










      div(role="tabpanel" class="tab-pane" id="profile") 
        div(role="tabpanel" class="tab-pane active" id="home") 
                h2 Grupos
                  hr
                  button(class="btn btn-primary" data-toggle="modal"  data-target="#myModal") Agregar
                  table(class="table table-striped table-hover ")
                    thead
                      tr
                        th Id
                        th Grupo
                    tbody(data-bind="foreach: grupo")
                      tr
                        td(data-bind="text: idGrupo")  
                        td(data-bind="text: descripcion")

        div(class="modal fade" id="myModal" role="dialog")
            div(class="modal-dialog")
              div(class="modal-content")
                div(class="modal-header")
                  button(type="button" class="close" data-dismiss="modal") &times;
                  h4(class="modal-title") Agregar Grupo
                  div(class="form-horizontal")
                    fieldset
                      div(class="form-group")
                        label(class="col-md-4 control-label" for="Descripcion") Descripcion
                        div(class="col-md-5")
                          input(id="Descripcion" name="descripcion" data-bind="value: grupoNuevo.descripcion" type="text" class="form-control input-md" required="")
                      div(class="form-group")
                        div(class="col-md-4")
                          button(id="Agregar" name="Agregar" data-bind="click: agregarGrupo" class="btn btn-primary") Agregar

      div(role="tabpanel" class="tab-pane" id="messages") ...
